.rank-td {
	display: inline-block;
}
.reply {
	height: 40px;
}
.reply span {
	margin-right: 10px;
}
#rank-table div div {
	display: inline-block;
}
.td-2 {
	width: 320px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.td-3 {
	margin-left: 7px;
}

.rank-table {
	line-height: 20px;
}
.tr-0 {
	padding-top:4px;
	margin-bottom: 2px;
	height: 35px;
	background-color: #D8CFC6;
	border-radius: 5px;
}
.tr-0:hover {
	cursor:pointer;
}
.tr-1:hover {
	cursor:pointer;
}
.tr-1 {
	padding-top:4px;
	height: 35px;
}
.previous {
	float: left;
	line-height: 50px;
	padding-left: 5px;
	padding-bottom: 50px;
}

@media screen and (max-width: 520px) {
	.td-2 {
		width: 100px;
		padding-left: 5px;
	}
	.previous {
		float: left;
		line-height: 20px;
		padding-left: 5px;
		padding-bottom: 50px;
	}


	.next{
		float: right;
		line-height: 20px;
		padding-right: 5px;
		padding-bottom: 50px;
	}
.reply {
	margin-right: 10px;
	height: 30px;
}

}
